<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="app" ng-controller="AppCtrl">
	<div class="app" ui-view></div>
</body>
<script src="/node_modules/angular/angular/angular.js"></script>
<script src="/scripts/app.js"></script>
<link href="/css/app.css" rel="stylesheet" type="text/css">
<script src="/scripts/app.router.js"></script>
<script src="/scripts/controllers/app.controller.js"></script>
<script src="/scripts/controllers/dashboard.controller.js"></script>

</html>